__pycache__/alias.cpython-310.pyc
__pycache__/figure.cpython-310.pyc
__pycache__/game.cpython-310.pyc
__pycache__/gui.cpython-310.pyc
__pycache__/move_tree.cpython-310.pyc
__pycache__/player.cpython-310.pyc
__pycache__/stone.cpython-310.pyc
__pycache__/validator.cpython-310.pyc
__pycache__/lady.cpython-310.pyc
